<xb-wishlist-header class="xb-wishlist__header">
  <div class="xb-header__icon">
    <span class="svg-wrapper">{{ 'icon-heart.svg' | inline_asset_content }}</span>
  </div>
  <span class="xb-product-quantity xb-product-quantity--bottom-right"></span
></xb-wishlist-header>
