:root {
    --font-body--family: 'Metropolis', sans-serif !important;
    --font-body--style: normal !important;
    --font-body--weight: normal !important;
    --font-accent--family: 'Metropolis', sans-serif !important;
    --font-accent--style: normal !important;
    --font-accent--weight: normal !important;
    --font-subheading--family: 'Metropolis Semi', sans-serif !important;
    --font-subheading--style: normal !important;
    --font-subheading--weight: 600 !important;
    --letter-spacing--body-loose: 0.1em !important;
    --font-h5--letter-spacing: var(--letter-spacing--body-loose) !important;
    --max-width--body-normal: 66ch !important;
    --font-size--2xs: 0.6875rem !important;
    --brand-color: #f7f5f4;
}

/* .header-menu {
    --submenu-animation-speed: 100ms;
} */

body, .text-block.paragraph > *, .button {
    letter-spacing: var(--letter-spacing--body-loose);
}

a.link {
  position: relative;
}

a.link:not(.hero__container .link):after {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: var(--color-foreground);
  display: block;
  position: absolute;
  bottom: -0.1rem;
}

.m-0 {
    margin: 0 !important;
}

.hero__container .link {
    font-size: var(--font-size--md);
}

/* Header */
.header__columns {
    --padding-block-end: calc(2 * var(--header-padding)) !important;
}

.menu-drawer__menu-item--mainlist, .menu-drawer__menu-item--parent,.menu-drawer__back-button {
    font-size: var(--font-size--2xs) !important;
}

.menu-drawer__back-button {
    letter-spacing: var(--letter-spacing--body-loose);
}

.menu-drawer__menu-item {
    padding: 0 !important;
}

.menu-list__submenu-inner,.mega-menu__link--parent {
    --menu-parent-font-size: var(--menu-top-level-font-size-desktop) !important;
    --menu-child-font-size: var(--menu-top-level-font-size-desktop) !important;
}

.menu-drawer__menu-item--child {
    --menu-child-font-size: var(--font-size--2xs) !important;
}

.mega-menu__link {
    padding: var(--padding-xs) 0 !important;
}

.mega-menu__link--parent {
    font-weight: 500;
    margin-block-end: var(--margin-2xs);
    padding-block-start: 0 !important;
}

.menu-list__link {
    letter-spacing: var(--letter-spacing--body-loose) !important;
}

.dropdown-localization__button .currency-code {
    line-height: 1.2em;
    display: block;
}

.header-actions__action svg {
    width: var(--icon-size-md) !important;
    height: var(--icon-size-md) !important;
}

.header:not([data-sticky-state="active"]):not(.header--compact) .header__row--bottom {
    --header-padding: var(--padding-lg) !important;
}

.header[data-sticky-state="active"] .header__row[style*='--border-bottom-width: 0px']  .menu-list__submenu.color-scheme-matches-parent,
.header[data-sticky-state="active"] .header__row[style*='--border-bottom-width: 0px']  .overflow-menu.color-scheme-matches-parent::part(overflow) {
    --submenu-padding-block-start: var(--header-padding) !important;
}

.mega-menu__grid {
    gap: 0 var(--menu-horizontal-gap) !important;
}

.header--collapse-row-paddings .header__row--top .header__columns {
    --padding-block-end: var(--padding-lg) !important;
}

.header {
    --header-padding: var(--padding-lg) !important;
}

.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}


slideshow-controls.carousel-controls:has(.icon-pause) {
    justify-content: center !important;
}

slideshow-controls.carousel-controls .icon-pause,
slideshow-controls.carousel-controls .icon-play {
    display: none !important;
}

.arrow-link {
    display: inline-block;
    margin-left: var(--margin-sm);
}

.arrow-link svg {
    display: block;
    height: auto;
    width: var(--icon-size-sm);
}

.text-block--background:not(.collection-card--image-bg .text-block--background) {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
    --padding-block-start: 0 !important;
    --padding-block-end: 0 !important;
}

.search-text {
    line-height: 1em;
    margin-bottom: -4px;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
}

.resource-list__carousel slideshow-arrows[position="top"] .slideshow-control {
    min-height: unset !important;
    color: var(--color-foreground) !important;
}

slideshow-component[dragging] slideshow-arrows[position="top"] {
    display: flex !important;
}

.resource-list__carousel slideshow-arrows[position="top"] {
    position: relative !important;
    width: auto;
    max-width: fit-content;
    margin-left: auto;
    padding-left: 0;
    gap: 1rem;
}

.resource-list__carousel slideshow-arrows[position="top"] .svg-wrapper,.resource-list__carousel slideshow-arrows[position="top"] .svg-wrapper > svg {
    height: auto !important;
}

.resource-list__carousel slideshow-arrows[position="top"] .slideshow-control[disabled] {
    display: block !important;
}

.resource-list__carousel slideshow-arrows[position="top"] {
    mix-blend-mode: unset !important;
    margin-block-end: var(--resource-list-column-gap);
}
.resource-list__carousel slideshow-arrows[position="top"] + slideshow-slides {
    padding-block-start: 0;
    margin-block-start: 0;
}

slideshow-arrows[position="top"] .slideshow-control {
    pointer-events: auto;
    opacity: 1;
    line-height: 1em;
    padding-inline: 0;
    min-width: unset;
}

slideshow-arrows[position="top"] .slideshow-control[disabled] {
    opacity: .5;
}

.blog-post-card__content-text a {
    text-decoration: underline !important;
    text-decoration-color: currentColor;
    text-decoration-thickness: auto;
    padding-block-start: var(--padding-xs) !important;
}

.blog-post-card__image--large {
    --blog-post-card-img-height: 518px !important;
}

.button--text {
    margin-bottom: -3px;
}

.eapps-widget-toolbar-panel-views,.eapps-widget-toolbar-panel-edit,.eapps-widget-toolbar {
    display: none !important;
}

.blog-posts-container {
    margin-inline: auto !important;
}

.blog-post-content {
    max-width: var(--wide-content-width) !important;
    font-size: var(--font-size--xs);
}

body .xb-product-quantity.show, .cart-bubble__background {
    background-color: var(--brand-color) !important;
    color: var(--color-primary) !important;
}

.cart-bubble {
    color: var(--color-primary) !important;
}

.header-actions__cart-icon {
    --cart-bubble-size: 16px !important;
}


.xb-product-quantity.show {
    font-size: var(--font-size--2xs) !important;
}

.blocks-drawer-items {
    display: grid;
    gap: var(--gap-md);
    grid-template-columns: 1fr;
}


.group-block .background-image-container img, .zoom-on-hover img {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
}

.group-block:hover .background-image-container img, .group-block__link:hover~.group-block-content .zoom-on-hover img, .zoom-on-hover:hover img,
.featured-blog-posts-card__link:hover ~ .featured-blog-posts-card__inner .zoom-on-hover img {
    transform: scale(1.03);
}

.zoom-on-hover {
    overflow: hidden;
    display: block;
    width: 100%;
}

.menu-drawer__featured-content-list-item:only-child {
    flex: 1 auto;
}

.menu-drawer__featured-content-list-item:not(:only-child) {
    max-width: 50cqw;
}

.resource-card__title.paragraph {
    line-height: var(--font-paragraph--line-height) !important;
    text-transform: uppercase;
}
.resource-card__content .price {
    font-weight: var(--font-paragraph--weight) !important;
}
.resource-card__content {
    gap: var(--padding-2xs);
}

.header-icon-labeled {
    gap: var(--gap-xs);
    align-items: center;
    width: auto !important;
    padding-left: 0;
}

.menu-drawer__utility-links {
    flex-direction: row !important;
    gap: var(--gap-xs);
    justify-content: space-between;
}
.menu-drawer__menu--childlist .menu-drawer__list-item--flat {
    margin-block-end: var(--margin-lg) !important;
    gap: var(--gap-sm) !important;
}

.menu-drawer__menu-item--child {
    min-height: calc(2 * var(--padding-sm) + var(--icon-size-xs));
}

.menu-drawer__menu--childlist:not(:has(.menu-drawer__animated-element)) {
    margin-block-end: var(--margin-2xl) !important;
}

.menu-drawer__menu.has-submenu {
    margin-block-end: 0 !important;
}

.menu-drawer__list-item--deep.menu-drawer__list-item--divider .menu-drawer__menu {
    padding-block-end: var(--padding-lg) !important;
}

.header-drawer-button {
    padding-inline: var(--padding-lg);
    padding-block-start: var(--padding-xs);
}

.header-drawer-button .header-button {
    display: flex !important;
    max-width: fit-content;
}

.menu-drawer__menu > .menu-drawer__list-item .menu-drawer__menu-container--divider {
    border: 0;
}

.cart-items__details * {
    font-size: var(--cart-font-size--2xs) !important;
}

.cart-items__price {
    font-size: var(--cart-font-size--2xs);
}

.variant-option--buttons legend {
    text-transform: uppercase;
}

.atc-icons {
    margin-top: calc(-1 * var(--margin-sm));
}

.variant-picker__form {
    gap: var(--gap) !important;
}

.blog-post-card__content-text {
    text-wrap: auto;
}

.card-slider-controls {
  min-height: unset !important;
  mix-blend-mode: unset !important;
}

.card-slider-controls .slideshow-controls__dots {
  margin-inline-start: 0;
  padding: var(--padding-xs);
  gap: var(--gap-2xs);
}

.card-slider-controls .slideshow-controls__dots button {
  --size: 4px;
}

.card-slider-controls .slideshow-controls__dots button:after {
  background-color: transparent;
  border: .01rem solid rgb(255 255 255 / 1.0);
  box-sizing: border-box;
}

.card-slider-controls .slideshow-controls__dots button[aria-selected=true]:after {
  background-color: rgb(255 255 255 / 1.0);
}

.facets__label {
    text-transform: uppercase !important;
}

#pp-native-btn-area, #pp-native-btn-area + [data-native-pre-order-btn] {
    display: none !important;
}

[data-native-pre-order-btn] + .add-to-cart-button[data-native-pre-order-btn-added] {
    display: grid !important;
}

.popup-large .popup-link__content {
    width: 100%;
    max-width: var(--narrow-page-width) !important;
    --modal-max-height: 92dvh !important;
}

.retailer-group-item {
    position: relative;
}

.retailer-group-item .popup-link__button,.retailer-group-item .link {
    border-bottom: .05rem solid var(--color-foreground);
}

.retailer-group-item > .group-block-content, .retailer-group-item .link {
    position: static;
}
.retailer-group-item .link:after {
    content: unset !important;
}

.retailer-group-item .popup-link__button:after, .retailer-group-item .link:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cart-items__price {
    font-size: var(--cart-font-size--2xs) !important;
}

.cart__total-value {
    font-size: var(--cart-font-size--sm) !important;
}

.shopify-policy__title {
    margin-bottom: 2rem;
}

.shopify-policy__title h1 {
    font-family: var(--font-h2--family);
    font-style: var(--font-h2--style);
    font-weight: var(--font-h2--weight);
    font-size: var(--font-h2--size);
    line-height: var(--font-h2--line-height);
    letter-spacing: var(--font-h2--letter-spacing);
    text-transform: var(--font-h2--case);
}

.shopify-policy__container {
    max-width: 120ch !important;
}

.shopify-policy__container {
    padding-block-end: var(--padding-6xl) !important;
}

.product-card__content .swatch {
    --max-swatch-size: 11px !important;
}
.product-card__content swatches-variant-picker-component .variant-option--swatches {
    --product-swatches-padding-block-start: 0px !important;
}

label, input, textarea, select {
    letter-spacing: inherit;
}

@media screen and (min-width: 990px) {
    .mega-menu__content-list--blocks {
        grid-template-columns: repeat(var(--menu-content-columns-desktop), minmax(0, 420px)) !important;
    }
}

@media screen and (min-width: 1200px) {
    .product-information__grid:not(.product-information__grid--half,:has(.product-information__media:empty)).product-information--media-left {
        grid-template-columns: 3fr 2fr !important;
    }
}

@media (min-width: 750px) {
    .blog-posts {
        --columns-gap: 48px !important;
        --rows-gap: 48px !important;
    }
    .facets--horizontal .facets__form {
        align-items: center;
    }

    .search-modal__button {
        gap: var(--gap-xs);
        border-bottom: .01rem solid var(--color-border);
        padding-right: var(--padding-xs);
    }

    .search-modal__button .svg-wrapper {
        height: auto !important;
        width: auto !important;
    }
    .resource-list__carousel {
        --peek-next-slide-size: 0rem;
    }
    .page-width-wide, .page-width-normal, .page-width-narrow, .page-width-content {
        --page-margin: 24px !important;
    }
    :is(.header__column--left,.header__column--center) .search-action {
        margin-inline: 0 !important;
    }
    .header__column--right header-actions {
        margin-inline-start: 0;
        margin-inline-end: calc(var(--gap-md) * -1);
    }
}

@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
            --text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
            --text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    header-actions .header-actions__action, .header-actions__action .svg-wrapper {
        --button-size: 32px !important;
        width: 32px !important;
        height: 32px !important;
    }

    .header__columns {
        --header-mobile-bookend: 36px !important;
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }
    .cart-drawer {
        padding-inline-end: var(--padding-sm);
    }

    .br-details {
        margin-bottom: calc(-1 * var(--margin-xl)) !important;
        display: block;
    }
}