:root {
    --font-body--family: 'Metropolis', sans-serif !important;
    --font-body--style: normal !important;
    --font-body--weight: normal !important;
    --font-accent--family: 'Metropolis', sans-serif !important;
    --font-accent--style: normal !important;
    --font-accent--weight: normal !important;
    --font-subheading--family: 'Metropolis Semi', sans-serif !important;
    --font-subheading--style: normal !important;
    --font-subheading--weight: 600 !important;
    --letter-spacing--body-loose: 0.08em !important;
    --max-width--body-normal: 66ch !important;
}

body, .text-block.paragraph > * {
    letter-spacing: var(--letter-spacing--body-loose);
}

a.link {
  position: relative;
}

a.link:not(.hero__container .link):after {
  content: "";
  width: 100%;
  height: 0.05rem;
  background: var(--color-foreground);
  display: block;
  position: absolute;
  bottom: -0.1rem;
}

.hero__container .link {
    font-size: var(--font-size--md);
}

/* Header */
.menu-list__link {
    letter-spacing: var(--letter-spacing--body-loose) !important;
}

.dropdown-localization__button .currency-code {
    line-height: 1.2em;
    display: block;
}

.header-actions__action svg {
    width: var(--icon-size-md) !important;
    height: var(--icon-size-md) !important;
}

.header:not(.header--compact) .header__row--bottom {
    --header-padding: var(--padding-lg) !important;
}
.header--collapse-row-paddings .header__row--top .header__columns {
    --padding-block-end: var(--padding-lg) !important;
}

.header {
    --header-padding: var(--padding-lg) !important;
}

.button-unstyled.slideshow-control.slideshow-control--shape-circle {
    width: var(--minimum-touch-target);
    height: var(--minimum-touch-target);
}

.arrow-link {
    display: inline-block;
    margin-left: var(--margin-sm);
}

.arrow-link svg {
    display: block;
    height: .5rem;
    width: auto;
}

.text-block--background:not(.collection-card--image-bg .text-block--background) {
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
    --padding-block-start: 0 !important;
    --padding-block-end: 0 !important;
}

.search-text {
    line-height: 1em;
    margin-bottom: -4px;
}

.use-height-icon img, .use-height-icon svg {
    width: auto !important;
    height: var(--height) !important;
}

.resource-list__carousel slideshow-arrows[position="top"] .slideshow-control {
    min-height: unset !important;
    color: var(--color-foreground) !important;
}

slideshow-component[dragging] slideshow-arrows[position="top"] {
    display: flex !important;
}

.resource-list__carousel slideshow-arrows[position="top"] {
    position: relative !important;
    width: auto;
    max-width: fit-content;
    margin-left: auto;
    padding-left: 0;
    gap: 1rem;
}

.resource-list__carousel slideshow-arrows[position="top"] .svg-wrapper,.resource-list__carousel slideshow-arrows[position="top"] .svg-wrapper > svg {
    height: auto !important;
}

.resource-list__carousel slideshow-arrows[position="top"] .slideshow-control[disabled] {
    display: block !important;
}

.resource-list__carousel slideshow-arrows[position="top"] {
    mix-blend-mode: unset !important;
    margin-block-end: var(--resource-list-column-gap);
}
.resource-list__carousel slideshow-arrows[position="top"] + slideshow-slides {
    padding-block-start: 0;
    margin-block-start: 0;
}

slideshow-arrows[position="top"] .slideshow-control {
    pointer-events: auto;
    opacity: 1;
    line-height: 1em;
    padding-inline: 0;
    min-width: unset;
}

slideshow-arrows[position="top"] .slideshow-control[disabled] {
    opacity: .5;
}

.featured-blog-posts-card__content .blog-post-card__content-text a {
    margin-top: var(--margin-xs);
    text-decoration: underline;
}

@media (min-width: 750px) {
    .search-modal__button {
        gap: var(--gap-xs);
        border-bottom: .1rem solid var(--color-border);
        padding-right: var(--padding-xs);
    }

    .search-modal__button .svg-wrapper {
        height: auto !important;
        width: auto !important;
    }
    .resource-list__carousel {
        --peek-next-slide-size: 0rem;
    }
    .page-width-wide, .page-width-normal, .page-width-narrow, .page-width-content {
        --page-margin: 24px !important;
    }
    :is(.header__column--left,.header__column--center) .search-action {
        margin-inline: 0 !important;
    }
    .header__column--right header-actions {
        margin-inline-start: 0;
        margin-inline-end: calc(var(--gap-md) * -1);
    }
}

@media (max-width: 749px) {
    :is(.carousel--mobile-full-width) > .resource-list__carousel, :is(.carousel--mobile-full-width) > .custom-section-content {
        grid-column: 1 / -1;
    }

    .carousel--mobile-full-width .resource-list__carousel[style*="--mobile-card-size: 100%;"] slideshow-slides {
        padding-inline: 0 !important;
        scroll-padding-inline-start: 0;
    }

    :is(.carousel--mobile-full-width) .featured-blog-posts-card__content {
        padding-inline: var(--page-margin);
    }

    .section--mobile-full-width .custom-section-content {
        grid-column: 1 / -1;
    }

    .mobile-group-column-reverse > .group-block-content {
        flex-direction: column-reverse !important;
    }

    .mobile-section-column-reverse {
        flex-direction: column-reverse !important;
    }

    .spacing-style[style*="--mobile-padding-block-start"] {
        padding-block: calc(var(--mobile-padding-block-start) + var(--section-top-offset, 0px)) var(--mobile-padding-block-end) !important;
    }

    .spacing-style[style*="--mobile-padding-inline-start"] {
        padding-inline: var(--mobile-padding-inline-start) var(--mobile-padding-inline-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    .spacing-style[style*="--mobile-margin-block-start"] {
        margin-inline: var(--mobile-margin-block-start) var(--mobile-margin-block-end) !important;
    }

    [style*="--mobile-font-size"],
    [style*="--mobile-font-size"] > * {
        font-size: var(--mobile-font-size) !important;
    }

    [style*="--mobile-border-radius"] {
        border-radius: var(--mobile-border-radius) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment"] {
        align-items: var(--horizontal-mobile-alignment) !important;
    }

    .mobile-column[style*="--horizontal-mobile-alignment: flex-start"] {
        > .text-block {
            text-align: left;
            --text-align: left;
        }
    }

    .mobile-column[style*="--horizontal-mobile-alignment: center"] {
        > .text-block, .text-block > * {
            text-align: center;
            --text-align: center;
        }
    }

    [style*="--mobile-gap"] {
        gap: var(--mobile-gap) !important;
    }

    [style*="--mobile-ratio"] > img,  [style*="--mobile-ratio"] > video {
       aspect-ratio: var(--mobile-ratio) !important;
    }

    /* .header-actions__action {
        width: auto !important;
    } */

    /* .header-actions__action .svg-wrapper {
        width: auto !important;
    } */
    /* .menu-drawer-container .header__icon--summary {
        padding: var(--padding-xs) !important;
    } */

    /* .header__column--right header-actions {
        padding-inline-end: var(--padding-lg);
    } */
/* 
    .account-button {
        padding: 0;
    } */
    /* .header__columns header-actions {
        gap: var(--gap-sm);
    }
    .header__columns {
        --header-mobile-bookend: auto !important;
    } */
    header-actions .header-actions__action {
        --button-size: 32px !important;
        width: 32px !important;
        height: 32px !important;
    }

    .use-height-icon[style*="--mobile-height"] img, .use-height-icon[style*="--mobile-height"] svg {
        height: var(--mobile-height) !important;
    }
}